<h1>Listas de Empleados</h1>

<div class="search-employee">
	<input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"/>
</div>
	<br/>
	<a routerLink="add" class="btn btn-sm btn-success mb-2">Añadir Empleado</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 30%">Nombre</th>
				<th style="width: 30%">Apellido</th>
				<th style="width: 30%">DNI</th>
				<th style="width: 30%">Fecha Contrato</th>
				<th style="width: 30%">Día de Vacaciones</th>
				<th style="width: 10%">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let employee of employees | filter:searchText">
				<td>{{employee.nombre}}</td>
				<td>{{employee.apellido}}</td>
				<td>{{employee.dni}}</td>
				<td>{{employee.fechaContrato}}</td>
				<td>{{employee.diaVacaciones}}</td>

				<td style="white-space: nowrap">
					<a routerLink="edit/{{employee.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
					<button (click)="deleteUser(employee.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="employee.isDeleting">
                    <span *ngIf="employee.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!employee.isDeleting">Delete</span>
                </button>
				</td>
			</tr>
			<tr *ngIf="!employees">
				<td colspan="4" class="text-center">
					<span>No hay empleados;</span>
				</td>
			</tr>
		</tbody>
	</table>